$md: 600px;
$lg: 900px;

$text-backgroud-color: #faebd7;
$height: 200px;
$unit: 4px;

@mixin for-medium-screen {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin for-large-screen {
    @media screen and (min-width: $lg) {
        @content;
    }
}